practicing_python/web_crawling/.env
making_chatbot_practice_ver./.env
venv
.idea
privacy_list.txt
__pychahce__
chromedriver
chromedriver.exe
library.txt
image_example1.py
/for_deep_learning/age_gender.csv
making_chatbot_practice_ver./newagent-xmaw-0798742219d6.json